@model WebStore.Models.SubCategories

@{
    ViewBag.Title = "SubCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <h4 class="list-group-item-heading list-group-item active shadow-sm">Create SubCategories</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Select Main Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MainCat_ID, ViewBag.CategoriesList as SelectList, "", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SubCategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SubCategoryName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubCategoryName, "", new { @class = "text-danger" })
            </div>
        </div>
     
        <div class="form-group">


            <ul class="list-group" id="itemlist">
                <li class="list-group-item-heading list-group-item  ">
                    <h4 class="list-group-item-text"> Select Attributes For Sub Categories</h4>
                </li>
                @for (int i = 0; i < Model.selectedAttribute.Count; i++)
                {

                    <li class="list-group-item">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.selectedAttribute[i].IsSelected)
                            @*<input type="checkbox" id="check_Attribute" checked= "@ViewBag.ItemAttribute[i].isSelected" />*@
                            <label for="check_Attribute"> @Model.selectedAttribute[i].Attributename</label>
                            @Html.HiddenFor(x => x.selectedAttribute[i].AttributeID)
                            @Html.HiddenFor(x => x.selectedAttribute[i].Attributename)
                            

                        </div>
                    </li>
                }
                
            </ul>

        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnSave"  type="submit" value="Create"   class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*<script>
    var saveList = function () {
        
        var arrItem = [];
        var commasepratedIDs = "";
   
        $("#itemlist li input[type=checkbox]").each(function (index, val) {
            debugger
            var checkid = $(val).attr("Id");
            var arr = checkid.split('_');
            var currentCheckboxid = arr[1];
            var Ischecked = $("#" + checkid).is(":checked", true);
            if (Ischecked) {
                arrItem.push(currentCheckboxid);
            }
        })
        if (arrItem.length != 0) {
            debugger
            commasepratedIDs = arrItem.toString();
            @Model.SelectedAttributes=arrItem;

            //$.ajax({
            //    url: '/AdminTool/SubCategory',
            //    Type: "POST",
            //    data:{itemlist : commasepratedIDs},
            //    success: function (data) {
            //        if (data != "") {
            //            alert(data);
            //        }
            //        else {
            //            $("form").submit();
            //        }
            //    }
            //});
        }
        
        }
</script>*@
