@model WebStore.Models.SubCategories
@{
    ViewBag.Title = "SubCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SubCategories</h2>
@using (Html.BeginForm())
{
    <hr />
    <h4 class="list-group-item-heading list-group-item active shadow-sm">Create SubCategories</h4>
        <hr />
        <div class="form-group">
           
            <div class="form-group">
                @Html.Label("Select Main Category", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.MainCat_ID, ViewBag.CategoriesList as SelectList, "", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SubCategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.SubCategoryID, ViewBag.subcatList as SelectList,"", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SubCategoryID, "", new { @class = "text-danger" })
                </div>
            </div>
            
        </div>
            <div class="form-group">


                <ul class="list-group" id="itemlist">
                    <li class="list-group-item-heading list-group-item  ">
                        <h4 class="list-group-item-text"> Select Attributes For Sub Categories</h4>
                    </li>
                    @for (int i = 0; i < Model.selectedAttribute.Count; i++)
                {

                        <li class="list-group-item">
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.selectedAttribute[i].isSelected)
                                @*<input type="checkbox" id="check_Attribute" checked="@Model.selectedAttribute[i].isSelected" />*@
                                <label for="check_Attribute"> @Model.selectedAttribute[i].AttributeName</label>
                                @Html.HiddenFor(x => x.selectedAttribute[i].AttributeName)
                                

                            </div>
                        </li>
                    }

                </ul>

            </div>
            <input type="submit" value="Submit" />
            }

